name: task

on:
  push:
    branches:
      - master
  schedule:
    - cron:  '0 0,5,12 * * *'


jobs:
  task:
    name: im fine
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python 3.x
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Automation Task
        run: |
          python ./main.py "${{ secrets.AUTOMATION_USER01 }}"
          python ./main.py "${{ secrets.AUTOMATION_USER02 }}"
          python ./main.py "${{ secrets.AUTOMATION_USER03 }}"
          python ./main.py "${{ secrets.AUTOMATION_USER04 }}"

